<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.dresos.webview.overlay"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35"/>

    <overlay android:targetPackage="android"
             android:isStatic="true"
             android:priority="1000"
             android:category="config.webview.providers"/>

    <application android:hasCode="false"
                 android:label="DresOS WebView Overlay"
                 android:allowBackup="false"/>
</manifest>
